@import "../../../scss/utils";

header {
  @include flex(row, center, space-between, nowrap, 0.5rem);
  height: 75px;
  padding: 0 1rem;
  box-shadow: var(--basic-shadow);
  background-color: white;

  @include tablet() {
    height: 95px;
  }

  h3 {
    visibility: hidden;

    @include tablet() {
      visibility: visible;
    }
  }

  .avatar {
    position: relative;
    @include flex(row, center, flex-end, nowrap, 0);
  }
}
