<main class="container">
  <h1>Board</h1>
  <div class="board-columns">
    @for (column of columns$ | async ; track column.id) {
      <div class="column-container">
        <h3>{{ column.title }}</h3>

        <div
          cdkDropList
          [cdkDropListData]="column.tasks"
          [cdkDropListConnectedTo]="(connectedLists$ | async) || []"
          [id]="'list_' + column.title"
          class="column"
          (cdkDropListDropped)="drop($event)"
        >
          @for (task of column.tasks; track task.id) {
            <div class="task"
                 cdkDrag
                 [cdkDragData]="task"
                 (click)="openTaskInfo(task)"
            >
              <h2>{{ task.title }}</h2>
              <p>{{ task.description }}</p>
              <div class="subtasks-progress">
                <span>Subtasks {{ getTotalSubtasks(task) }}/{{ task.subtasks.length }}</span>
                <mat-progress-bar
                  mode="determinate"
                  [value]="getTotalSubtasks(task) / (task.subtasks?.length || 1) * 100"
                >
                </mat-progress-bar>
              </div>
              <strong>
                <span [appTaskPriority]="task.priority"></span>
                {{ task.priority }}
              </strong>
            </div>
          }
        </div>
      </div>
    }
  </div>
</main>
